/vendor/
/node_modules/

/etc/build/*
!/etc/build/.gitignore

/.phpunit.result.cache
/behat.yml
/phpspec.yml
/phpunit.xml

# Symfony CLI https://symfony.com/doc/current/setup/symfony_server.html#different-php-settings-per-project
/.php-version
/php.ini

/node_modules

.DS_store

/composer.lock
/symfony.lock
/tests/Application/yarn.lock
